<!DOCTYPE html>
<html>

<title>Login Form</title>
<meta charset="UTF-8">

<header>
    <center>
  <h1>{{ title}}</h1>
  {% load staticfiles %}
    </center>
</header>
<body>
    <!--<img src="{% static 'imgo.jpg' %}">-->
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}


<!-- Header -->

<center>
<form method="POST" action="/people/login_success" id="logform">
    {% csrf_token %}

    {{ form.as_p }}


    <input type="submit" value="Login" id="login">


</form>
<form method="get" action="/people/signup" id="signform">
    {% csrf_token %}


    <input type="submit" value="SignUp">


</form>

<style>

    form {
    display:inline;
    }


</style>
</center>

<!-- Footer -->
<!--<footer class="w3-container w3-padding-64 w3-center w3-opacity">  -->
  <!--<div class="w3-xlarge w3-padding-32">-->
   <!--<a href="#" class="w3-hover-text-indigo"><i class="fa fa-facebook-official"></i></a>-->
   <!--<a href="#" class="w3-hover-text-red"><i class="fa fa-pinterest-p"></i></a>-->
   <!--<a href="#" class="w3-hover-text-light-blue"><i class="fa fa-twitter"></i></a>-->
   <!--<a href="#" class="w3-hover-text-grey"><i class="fa fa-flickr"></i></a>-->
   <!--<a href="#" class="w3-hover-text-indigo"><i class="fa fa-linkedin"></i></a>-->
 <!--</div>-->
<!--</footer>-->

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>