<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home</title>
<style type="text/css">
<!--

 #navbar ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: center;
  background-color: #000;
  }

#navbar ul li {
  display: inline;
  }

#navbar ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #000;
  }

#navbar ul li a:hover {
  color: #000;
  background-color: #fff;
  }

-->
</style>
</head>
<body>
<div id="navbar">
  <ul>
  <li><a href="#">Home</a></li>
  <li><a href="http://127.0.0.1:8000/myblog/editor">Start a story</a></li>
  <li><a href="http://127.0.0.1:8000/accounts/logout/">Sign out</a></li>
  {% load i18n %}
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit">{% trans 'Sign Out' %}</button>
  </form>
  <!--<li><a href="http://github.com">Link 4</a></li>
  <li><a href="http://github.com">Link 5</a></li>  -->
  </ul>
</div>

<b>Description :</b> {{ episode.episode_description}}<br>
<b>Content :</b> {{episode.episode_content|safe}}
</body>
</html>